body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #002b39;
  }

  .texto_tarjeta {
    display: grid;
    align-content: center;
}
  






  .container {
    display: grid;
    margin: 0;
    padding: 0;
    text-align: center;
    grid-template-columns: 100%;
  }
  
  #header {
    display: grid;
    justify-items: center;
    background-image: url('img/Grupo\ 9213@2x.webp');
    background-size: 100%;
    padding-bottom: 120px;
    background-repeat: no-repeat;
  }
  
  .welcom{
    display: grid;
  }

  .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    max-width: 875px;
    text-align: center;
    justify-items: center;
  }
  
  .venn {
    text-align: center;
    margin-top: 50px;
    width: 105px;
  }
  
  /* h1 { */
  #header h1 {
    display: grid;
    font-size: 2.6em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    padding: 0;
  }
  
  .parrafo_header {
    font-size: 1.1em;
    /* @@ -40,162 +59,1120 @@ h1 { */
    color: #1489ff;
    font-weight: 600;
  }
  
  #header p {
    display: grid;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  @media screen and (min-width:240px) and (max-width:767px) {
    #header {
      display: grid;
      background-image: none;
      grid-column: auto;
      max-width: none;
    }
  
    #header h1 {
      display: grid;
      font-size: 2.6em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 0px;
      max-width: none;
    }
  }
  
  .boton_qliao {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: 55px;
    background: rgb(1, 172, 254);
    background: linear-gradient(180deg, rgba(1, 172, 254, 1) 0%, rgba(9, 126, 239, 1) 100%);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: 55px;
    background: rgb(1, 172, 254);
    background: linear-gradient(180deg, rgba(1, 172, 254, 1) 0%, rgba(9, 126, 239, 1) 100%);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
  }
  
  .boton_qliao:hover {
    cursor: pointer;
    background: white;
    background: linear-gradient(180deg, white 0%, white 100%);
    color: #1489ff;
    border-color: #1489ff;
    border: 1px solid;
    cursor: pointer;
    background: white;
    background: linear-gradient(180deg, white 0%, white 100%);
    color: #1489ff;
    border-color: #1489ff;
    border: 1px solid;
  }
  
  .tarjeta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 690px;
    height: 270px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 690px;
    max-height: 270px;
    border: 1px solid #91b5d7;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.2);
  }
  
  .perfil_tarjeta {
    z-index: 2;
  }
  
  .imagen_perfil {
    display: inline-block;
    max-height: 260px;
  }
  
  .perfil_tarjeta {
    display: inline-block;
  }
  
  .info_tarjeta {
    width: 420px;
    vertical-align: top;
    display: inline-block;
    font-weight: 300;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 70px 30px auto;
    max-height: 270px;
    margin-right: 20px;
  }
  
  #header h3 {
    grid-column: 1 / -1;
    justify-self: left;
    font-weight: 500;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  /* h3 { */
  h4 {
    justify-self: left;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 0px;
    color: #1489ff;
    margin-bottom: 0px;
  }
  
  .info_tarjeta img {
    /*estrellas*/
    display: grid;
    justify-self: right;
    max-height: 20px;
  }
  
  .texto_tarjeta {
    grid-column: 3 / -3;
    justify-self: left;
    text-align: left;
  }
  
  @media screen and (min-width:240px) and (max-width:763px) {
  
    /*fondo_tarjeta {
        background-image: url("https://comunidad.venntors.com/wp-content/uploads/2021/12/Sustraccion-11.svg");
        display: grid;
        width: 100%;
        z-index: 1;
        grid-row: 2;
      }*/
    .perfil_tarjeta {
      z-index: 2;
    }
  
    .tarjeta {
      background-color: transparent !important;
      display: inline-grid;
      justify-items: center;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 260px auto;
      max-width: 300px;
      min-height: 485px;
      border: none;
      border-radius: none;
      box-shadow: none;
      grid-row: 3;
    }
  
    .imagen_perfil {
      display: grid;
      max-height: 260px;
      grid-row: 1;
      padding-bottom: -100px;
    }
  
    .info_tarjeta {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 25px 130px 25px 25px;
      margin-right: 0px;
      height: 230px;
      border: 1px solid #91b5d7;
      border-radius: 10px;
      box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.2);
      padding-top: 130px;
      margin-top: -150px;
      z-index: 1;
    }
  
    #header h3 {
      display: grid;
      align-content: center;
      justify-self: center;
      grid-row: 3;
      grid-column: 1 / -1;
      font-weight: 500;
      font-size: 2em;
      margin-top: 30px;
      font-size: 1.1em;
      margin-bottom: 0px;
      padding: 0px;
    }
  
    h4 {
      font-weight: 400;
      font-size: 1.2em;
      margin-top: 10px;
    }
  
    h4 {
      display: grid;
      justify-self: center;
      text-align: center;
      grid-row: 4;
      grid-column: 1 / -1;
      font-weight: 500;
      font-size: 1em;
      margin-top: 0px;
      line-height: 10px;
      color: #1489ff;
    }
  
    .info_tarjeta img {
      float: right;
      margin-bottom: 0px;
    }
  
    .info_tarjeta img {
      /*estrellas*/
      grid-row: 1;
      grid-column: 1 / -1;
      justify-self: center;
      max-height: 20px;
    }
  
    .texto_tarjeta {
      grid-row: 2;
      grid-column: 1 / -1;
      justify-self: center;
      margin-right: 30px;
      margin-left: 30px;
    }
  }
  
  #herramientas h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30%;
    margin-left: 30%;
    line-height: 1em;
  }
  
  #herramientas {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
  }
  
  .div_h1 {
    display: grid;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 1.7em;
  }
  
  @media screen and (min-width:995px) and (max-width:1200px) {
    .div_h1 {
      width: 600px;
      font-size: 1.5em;
    }
  }
  
  @media screen and (min-width:240px) and (max-width:994px) {
    .div_h1 {
      width: 80%;
      font-size: 1.5em;
    }
  }
  
  .herramientas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    display: grid;
    grid-template-columns: 345px 345px 345px;
    gap: 30px;
    background-color: white;
  }
  
  .tarjeta_herramientas1 {
    display: grid;
    grid-template-rows: auto 50px auto;
    width: 345px;
    height: 430px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 1px #dee4eb;
    background-color: white;
  }
  
  .tarjeta_herramientas {
    display: inline-block;
  }
  
  .tarjeta_herramientas1 img {
    max-width: 300px;
    max-height: 280px;
  }
  
  .tarjeta_herramientas1 h4 {
    justify-self: center;
    font-weight: 600;
    font-size: 1.7em;
    margin-top: 0px;
    color: #002b39;
    margin-bottom: 0px;
  }
  
  .tarjeta_herramientas1 p {
    margin-top: 0px;
    font-size: 1.15em;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-font-smoothing: antialiased;
  }
  
  .tarjeta_herramientas2 {
    display: grid;
    grid-template-rows: auto 50px auto;
    width: 345px;
    height: 430px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 1px #dee4eb;
    background-color: white;
    
  }
  
  .tarjeta_herramientas2 img {
    max-width: 300px;
    max-height: 280px;
  }
  
  .tarjeta_herramientas2 h4 {
    justify-self: center;
    font-weight: 600;
    font-size: 1.7em;
    margin-top: 0px;
    color: #002b39;
    margin-bottom: 0px;
  }
  
  .tarjeta_herramientas2 p {
    margin-top: 0px;
    font-size: 1.15em;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-font-smoothing: antialiased;
  }
  
  .tarjeta_herramientas3 {
    display: grid;
    grid-template-rows: auto 50px auto;
    width: 345px;
    height: 430px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 1px #dee4eb;
    margin-left: 30px;
    background-color: white;
  }
  
  .tarjeta_herramientas img {
    width: 100%;
  }
  
    .tarjeta_herramientas3 img {
      max-width: 300px;
      max-height: 280px;
    }
  
    .tarjeta_herramientas3 h4 {
      justify-self: center;
      font-weight: 600;
      font-size: 1.7em;
      margin-top: 0px;
      color: #002b39;
      margin-bottom: 0px;
    }
  
    .tarjeta_herramientas3 p {
      margin-top: 0px;
      font-size: 1.15em;
      margin-left: 25px;
      margin-right: 25px;
      -webkit-font-smoothing: antialiased;
    }
  
    @media screen and (min-width:240px) and (max-width:1164px) {
      .herramientas {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 30px;
        width: 340px;
        background-color: white
      }
  
      .tarjeta_herramientas1 {
        display: grid;
        grid-row: 1;
      }
  
      .tarjeta_herramientas1 h4 {
        grid-row: 2;
      }
  
      .tarjeta_herramientas2 {
        display: grid;
        grid-row: 2;
      }
  
      .tarjeta_herramientas2 h4 {
        grid-row: 2;
      }
  
      .tarjeta_herramientas3 {
        display: grid;
        grid-row: 3;
      }
  
      .tarjeta_herramientas3 h4 {
        grid-row: 2;
      }
    }

    /* sección procesos*/

    
    
    .boton_01_media {
      cursor: pointer;
      width: 35px;
      height: 35px;
      background-image: url("img/c_01_white.png");
    }

    .boton_01_media:hover {
      background-image: url("img/c_01_blue.png");
    }

    .boton_02_media {
      cursor: pointer;
      width: 35px;
      height: 35px;
      background-image: url("img/c_02_white.png");
    }

    .boton_02_media:hover {
      background-image: url("img/c_02_blue.png");
    }

    .boton_03_media {
      cursor: pointer;
      width: 35px;
      height: 35px;
      background-image: url("img/c_03_white.png");
    }

    .boton_03_media:hover {
      background-image: url("img/c_03_blue.png");
    }

    .boton_qliao_procesos_media {
      display: grid;
      grid-row: 6;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 255px;
      height: 55px;
      background: rgb(1, 172, 254);
      background: linear-gradient(180deg, rgba(1, 172, 254, 1) 0%, rgba(9, 126, 239, 1) 100%);
      color: white;
      font-size: 1.1em;
      font-weight: 600;
      border: 0px;
      border-radius: 6px;
      box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
      align-content: center;
    }

    .boton_qliao_procesos {
      display: none;
    }

    /* sección plataforma*/

    #plataforma {
      background-image: url('../IMG/Enmascarar_grupo_259@2x.webp');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-top: 50px;
    }
  
    .linea_fondo {
      display: none;
    }
  
    .plataforma {
      display: grid;
      grid-template-rows: auto auto auto auto;
      justify-items: center;
    }
  
    .plataforma_h1 {
      display: grid;
      grid-row: 1;
      margin-bottom: 30px;
      line-height: 1em;
      padding-top: 150px;
      padding-bottom: 15px;
      font-size: 2.55em;
    }
  
    @media screen and (min-width:1007px) and (max-width:1202px) {
      .plataforma_h1 {
        display: grid;
        grid-row: 1;
        margin-bottom: 30px;
        line-height: 1em;
        padding-top: 150px;
        padding-bottom: 15px;
        font-size: 2em;
        width: 500px;
      }
    }
  
    @media screen and (min-width:590px) and (max-width:1006px) {
      .plataforma_h1 {
        display: grid;
        grid-row: 1;
        margin-bottom: 30px;
        line-height: 1em;
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.6em;
        width: 450px;
      }
    }
  
    @media screen and (min-width:453px) and (max-width:589px) {
      .plataforma_h1 {
        display: grid;
        grid-row: 1;
        margin-bottom: 30px;
        line-height: 1em;
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.6em;
        width: 330px;
      }
    }
  
    @media screen and (min-width:379px) and (max-width:452px) {
      .plataforma_h1 {
        display: grid;
        grid-row: 1;
        margin-bottom: 30px;
        line-height: 1em;
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.6em;
        width: 300px;
      }
    }
  
    @media screen and (min-width:240px) and (max-width:378px) {
      .plataforma_h1 {
        display: grid;
        grid-row: 1;
        margin-bottom: 30px;
        line-height: 1em;
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.8em;
        width: 280px;
      }
    }
  
    @media screen and (min-width:240px) and (max-width:767px) {
      #plataforma {
        background-image: none;
      }
  
      .linea_fondo {
        display: unset;
        width: 100%;
        height: 10px;
      }
    }
  
    .calugon {
      background-color: rgb(188, 199, 236);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 930px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto 150px;
      gap: 30px 30px;
      max-width: 930px;
    }
  
    .caluguitas {
      background-color: white;
      background: linear-gradient(180deg, white 85%, #e5f3fa 100%);
      width: 280px;
      height: 130px;
      font-size: 0.99em;
      font-weight: 500;
      border: 1px solid;
      border-color: #b4cce2;
      border-radius: 10px;
      box-shadow: 0px 15px 10px 2px #ecedee;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .caluguitas img {
      height: 40px;
    }
      .caluguitas_img {
        width: 35px;
        height: 35px;
        padding-top: 20px;
      }
  
      #plataforma {
        background-image: url('../IMG/Enmascarar_grupo_259@2x.webp');
        background-size: 100%;
  
        @media screen and (min-width:581px) and (max-width:939px) {
          .calugon {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: repeat (6, auto) 150px;
            gap: 30px 30px;
            width: 80%;
          }
  
          .caluguitas {
            width: 100%;
            font-size: 0.9em;
            font-weight: 500;
          }
  
          .caluguitas_img {
            width: 30px;
            height: 30px;
          }
        }
  
        @media screen and (min-width:320px) and (max-width:580px) {
          .calugon {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: repeat (6, auto) 150px;
            gap: 30px 30px;
            width: 80%;
          }
  
          .caluguitas {
            width: 100%;
            font-size: 0.8em;
            font-weight: 500;
          }
  
          .caluguitas_img {
            width: 30px;
            height: 30px;
          }
        }
  
        @media screen and (min-width:200px) and (max-width:319px) {
          .calugon {
            display: grid;
            grid-template-columns: 2fr;
            grid-template-rows: repeat (6, auto) 150px;
            width: 80%;
          }
  
          .caluguitas {
            width: 100%;
            font-size: 0.8em;
            font-weight: 500;
          }
  
          .caluguitas_img {
            width: 30px;
            height: 30px;
          }
        }
      }
  
        .caluguitas:hover {
          cursor: pointer;
        }
  
        .plataforma .boton_qliao {
          display: grid;
          grid-row: 4;
          align-content: center;
          margin-bottom: 100px;
          margin-top: 50px;
        }
  
        #footer {
          background: rgb(4, 121, 246);
          background: linear-gradient(270deg, rgba(4, 121, 246, 1) 0%, rgba(36, 138, 247, 1) 72%, rgba(52, 147, 247, 1) 100%);
          display: grid;
          justify-items: center;
        }
  
        .footer_class {
          display: grid;
          grid-template-columns: auto;
          width: 75%;
        }
  
        .cuadrado {
          display: grid;
          grid-template-columns: auto auto;
          grid-row: auto;
          align-items: end;
          padding-bottom: 20px;
        }
  
        .cuadrado1 {
          display: grid;
          justify-content: start;
        }
  
        .logo_footer {
          width: 65px;
          padding-top: 40px;
        }
  
        .cuadrado2 {
          display: grid;
          grid-template-columns: repeat(6, auto);
          justify-content: end;
          gap: 20px;
        }
  
        .iconos_footer {
          height: 27px;
        }
  
        .hipervinculo {
          padding-top: 40px;
          display: grid;
          border-top: solid 1px white;
          grid-template-columns: 3fr 1.3fr 1.3fr 0.8fr;
          padding-bottom: 50px;
          justify-content: end;
          align-items: center;
          justify-items: end;
          size: auto;
        }
  
        .hipervinculo_footer {
          color: white;
          font-size: 0.9em;
          font-weight: 500;
          text-decoration: none;
        }
  
        @media screen and (min-width:881px) and (max-width:980px) {
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 20px;
            padding-top: 40px;
          }
  
          .hipervinculo {
            padding-top: 40px;
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: 3fr 1.5fr 1.5fr 0.8fr;
            padding-bottom: 50px;
            justify-content: end;
            align-items: center;
            justify-items: end;
            size: auto;
          }
        }
  
        @media screen and (min-width:768px) and (max-width:881px) {
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 20px;
            padding-top: 40px;
          }
  
          .hipervinculo {
            padding-top: 40px;
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: 4fr 1.3fr 1.4fr 0.7fr;
            padding-bottom: 50px;
            justify-content: end;
            align-items: center;
            justify-items: end;
            size: auto;
            line-height: 15px;
          }
        }
  
        @media screen and (min-width:641px) and (max-width:767px) {
          .footer_class {
            display: grid;
            grid-template-columns: auto;
            width: 55%;
          }
  
          .cuadrado1 {
            display: grid;
            justify-content: center;
          }
  
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 20px;
            padding-top: 40px;
          }
  
          .hipervinculo {
            padding-top: 40px;
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: 4fr 1.3fr 1.4fr 0.7fr;
            padding-bottom: 50px;
            justify-content: end;
            align-items: center;
            justify-items: end;
            size: auto;
            line-height: 15px;
          }
        }
  
        @media screen and (min-width:640px) and (max-width:640px) {
          .footer_class {
            display: grid;
            grid-template-columns: auto;
            width: 55%;
          }
  
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado1 {
            display: grid;
            justify-content: center;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 20px;
            padding-top: 40px;
            justify-content: space-between;
          }
  
          .hipervinculo {
            padding-top: 40px;
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: 4fr 1.3fr 1.4fr 0.7fr;
            padding-bottom: 50px;
            justify-content: end;
            align-items: center;
            justify-items: end;
            size: auto;
            line-height: 15px;
          }
        }
  
        @media screen and (min-width:320px) and (max-width:639px) {
          .footer_class {
            display: grid;
            grid-template-columns: auto;
            width: 80%;
          }
  
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado1 {
            display: grid;
            justify-content: center;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 20px;
            padding-top: 40px;
            justify-content: space-between;
          }
  
          .hipervinculo_p {
            display: none;
          }
  
          .hipervinculo {
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: auto;
            padding-bottom: 50px;
            justify-content: center;
            align-items: center;
            justify-items: center;
            size: auto;
            gap: 10px;
          }
        }
  
        @media screen and (min-width:240px) and (max-width:319px) {
          .footer_class {
            display: grid;
            grid-template-columns: auto;
            width: 60%;
          }
  
          .cuadrado {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: end;
            padding-bottom: 20px;
          }
  
          .cuadrado1 {
            display: grid;
            justify-content: center;
          }
  
          .cuadrado2 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: end;
            gap: 0;
            padding-top: 40px;
            justify-content: space-between;
          }
  
          .hipervinculo_p {
            display: none;
          }
  
          .hipervinculo {
            display: grid;
            border-top: solid 1px white;
            grid-template-columns: auto;
            padding-bottom: 50px;
            justify-content: center;
            align-items: center;
            justify-items: center;
            size: auto;
            gap: 10px;
          }
        }

      }
    }
  }
}


#procesos {

  .fondo_procesos{
    background: blue;
  }


}